.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;

  .question-card {
    position: relative;

    button.add-photo {
      width: 100%;
      aspect-ratio: 4/3;
    }

    .action-buttons {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      transform: translate(25%, -25%);
      flex-direction: column;
      row-gap: 0.5rem;

      &.double {
        transform: translate(35%, -11%);
      }
    }
  }
}
