.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.5rem;

  label {
    color: grey;
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 0.1rem;
  }

  form {
    display: flex;
    height: 2.5rem;
    column-gap: 0.6rem;

    *:focus {
      outline: none;
    }
  }
}
