@use "../styles/global-variables.scss" as gv;

.card-button {
  transition: 0.25s;

  // theme-card
  &:hover {
    box-shadow: 0 14px 25px 0 rgba(60, 64, 67, 0.08);
    -webkit-tap-highlight-color: transparent;
  }

  &:active {
    box-shadow: 0 4px 13px 0 rgba(60, 64, 67, 0.12);
  }
}

button {
  cursor: pointer;
  border: none;
  background-color: #cccccc;
  font-family: inherit;
  flex-shrink: 0;

  &:hover:not(:disabled):not(:active) {
    filter: brightness(110%);
  }

  &:disabled {
    cursor: unset;
  }
}

button.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

button.simple {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.5rem 1.1rem;
  border-radius: 20rem;
  background-color: gv.$primary-color;
  color: white;

  &.error {
    background-color: crimson;
  }

  &.success {
    background-color: green;
  }
}

button.simple-svg {
  background-color: white;
  padding: 0.6rem;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  svg {
    font-size: 1.1rem;
    display: block;
  }

  &.remove {
    color: white;
    background-color: crimson;
  }
}
