@use "../styles/global-variables.scss" as gv;

$font-size: 1rem;

#main {
  height: 100lvh;
  overflow-y: scroll;
  font-size: $font-size;

  h1 {
    margin-bottom: 0.5em;
    font-size: 3.8em;
    font-weight: 700;
  }

  h4 {
    margin: 0;
    max-width: 31rem;
    font-size: 1.5em;
    font-weight: 300;
  }

  h2 {
    margin-bottom: 1.3em;
    font-size: 2em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 500;
  }

  h5 {
    font-size: 1em;
    font-weight: 400;
    color: #444444;
  }
}

#banner-container {
  @include gv.padding-y(4.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.15rem solid #dddddd;
  margin-bottom: 2em;

  .image-container {
    width: 19em;
    position: relative;
    aspect-ratio: 1;
  }
}

.themes-container {
  @include gv.padding-y(4.5rem);

  .theme-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 3em;
    column-gap: 1.8em;

    .theme-card {
      transition: 0.25s;
      background-color: #d7effe;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      color: unset;

      // theme-card
      .button {
        color: #073042;
        border: 0.15rem solid #073042;
        border-radius: 2rem;
        padding: 0.5rem 2rem;
        width: min-content;
        margin-top: 0.45em;
        font-weight: 600;
        transition: 0.3s;
      }

      // theme-card
      .image-container {
        position: relative;
        width: 42%;
        height: 100%;
      }

      // theme-card
      &:active {
        box-shadow: 0 4px 13px 0 rgba(60, 64, 67, 0.12);
      }

      // theme-card
      &:hover {
        box-shadow: 0 14px 25px 0 rgba(60, 64, 67, 0.08);
        -webkit-tap-highlight-color: transparent;
        .button {
          background-color: white;
          border-color: white;
        }
      }

      // theme-card
      .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3% 4% 3.5% 6%;
        row-gap: 1em;

        .item-container {
          padding-left: 5%;
          display: flex;
          flex-direction: column;
          row-gap: 1em;

          .item {
            display: flex;
            column-gap: 3%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: gv.$brp-xl) {
  .themes-container {
    .theme-card-container {
      grid-template-columns: repeat(3, 1fr);
      .theme-card {
        flex-direction: column-reverse;

        .image-container {
          width: 100%;
          aspect-ratio: 16/10;
        }
      }
    }
  }
}

@media screen and (max-width: gv.$brp-lg) {
  .themes-container {
    .theme-card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: gv.$brp-md) {
  #banner-container {
    padding: unset;
    height: 100dvh;
    justify-content: space-around;
    margin: 0;

    text-align: center;
    flex-direction: column;
    //row-gap: 5vh;

    .headers-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .themes-container {
    .theme-card-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: gv.$brp-sm) {
  #main {
    h1 {
      font-size: 3.1em;
    }

    h4 {
      font-size: 1.1em;
    }
  }
}
