.container {
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 2.5rem;
  padding-bottom: 0.6rem;
  padding-inline: 5%;
  width: 100%;
  background-color: steelblue;
  color: white;

  .title {
    font-size: 1.5rem;
  }
}

div.explanation {
  margin-block: 3rem;
  width: fit-content;
  font-size: 1.4rem;
  padding-inline: 9%;

  div.line {
    margin-top: 1rem;
    background-color: black;
    height: 0.3rem;
    width: 35%;
  }
}

.yt-container-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-block: 3rem;
  margin-top: 4rem;

  .yt-container {
    margin: 0;
    height: 20rem;
    width: 75%;

    .yt-iframe {
      display: block;
    }
  }
}

.content:not(:empty) {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-block: 3rem;
  padding-inline: 12.5%;

  .image {
    width: 100%;
    max-height: 18rem;
    object-fit: contain;
    margin-top: 1rem;
  }

  .audio {
    margin-top: 1rem;
    width: 100%;
  }

  .text-content {
    margin: 0;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-inline: 2rem;
  margin-bottom: 2rem;
}
