.container {
  input {
    padding: 0.3rem;
    font-size: 0.9rem;
  }

  ol[aria-label="multiple choice questions"] {
    row-gap: 3rem;

    > li {
      margin-bottom: 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      .question-bar {
        display: flex;
        padding-inline: 0.5rem;
        margin-bottom: 0.6rem;
        width: 100%;
        column-gap: 0.5rem;

        textarea {
          flex-grow: 1;
          padding-inline: 0.5rem;
        }
      }

      ul[aria-label="choices"] {
        padding-left: 1rem;
        list-style: none;

        li {
          display: flex;
          align-items: flex-start;
          margin-bottom: 0.3rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
