@use "../../../../styles/global-variables.scss" as gv;

.tab-panels {
  position: relative;
  overflow: hidden;
  @include gv.simple-responsive-container;
}

.panel {
  margin-top: 2.5rem;

  h2 {
    font-size: 1.9rem;
  }

  p {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }
}

.activities {
  margin-top: 4rem;
}

.activity-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.activity-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gv.$primary-light-tint-color;
  padding: 1.3rem;
  border-radius: 0.4rem;

  h3 {
    color: gv.$primary-color;
    font-weight: 600;
    font-size: 1.3em;
  }

  .actions {
    .start {
      background-color: gv.$primary-color;
      color: white;
    }
  }
}

.no-activity {
  padding-block: 6rem;
  background-color: #eeeeee;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lesson-actions-container {
  margin-top: 1.5em;

  hr {
    border-color: #ffffff;
    color: red;
    background-color: red;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7em;
  }
}
